/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */
.publications-list, .articles-list {
    list-style: none;
    padding-left: 0;
}
.publication-list-item p, .article-list-item p{
    margin: 0 0 5px 0;
}

.publication-list-item .list-content, .article-list-item .list-content {
    min-width:80%;
    width:calc(100% - 70px);
    display: inline-block;
    float:right;
    height: 55px;
}
.publication-list-item .list-img, .article-list-item .list-img {
    max-width: 20%;

    width: 55px;
    display: inline-block;

}
.list-img img {
  max-height: 50px;
  max-width: 50px;
}

.publication-pagination-btn:hover, .article-pagination-btn:hover {
    text-decoration: none;
}
.publication-pagination-btn, .article-pagination-btn {
    cursor:pointer;
    text-decoration: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.hidden {
    display:none;
}

.books-viewer {
  display:block;
}
.books-viewer .book-item img{
  width:100%;
  height:60%;
}

.book-items-wrapper {
    width: 100%;
}

.book-item-content {
  height:40%;
  width: 100%;
}
.books-viewer .book-item {
    width:32%;
    max-width: 155px;
    min-width: 155px;
    float:left;
    height: 280px;
    margin-right: 4%;
    margin-bottom: 50px;
}
.books-not-empty {
  min-height:280px;
  display:inline-block;
}

.article-list-item, .publication-list-item {
  width:100%;
  height:55px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 10px;
}
.list-content p {
  margin-bottom: 7px !important;
}







/*
########################
########################
#### LAWYER PROFILE ####
########################
########################
  */

#lawyer-profile {
  border: 1px dotted black;
}

.lawyer-id {
  border: 1px dotted blue;
  padding: 20px;
}

.lawyer-id h1 {
  position: relative !important;
  float: left !important;
  margin-bottom: 2px !important;
  color: #000 !important;
  font-size: 22px;
  font-style: italic;
  font-weight: 400;
  line-height: 1.4;

}

.lawyer-id h1::after {
  content: "" !important;
  position: absolute !important;
  bottom: -2px !important;
  left: 0 !important;
  right: 0 !important;
  height: 5px !important;
  background-color: #005da4 !important;
}

.lawyer-info {
  border: 1px dotted green;
  padding: 20px;
}

.mail-backoffice {
  margin-top: 40px;
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.mail-backoffice p {
  margin: 0;
  padding: 0;
}


/* Books */
.books-modul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.books-modul ul {
  list-style: none;
}

/* Publikationen */

.pubs-modul-wrapper, .articles-modul-wrapper {
  margin: 20px;
  border: 1px dotted tomato;
  display: flex;
  align-items: center;
}

.pubs-modul-wrapper a {
  display: flex;
}

.pub-list p, .article-list p {
  margin:0;
}

.pubs-modul img, .articles-modul img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}


/* TEAM */

#btp-team {
  border: 2px dotted fuchsia;
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
}
.lawyer-id-team {
  width: 200px;
  margin: 0 25px 0 0;
}
.lawyer-id-team p {
  margin: 0!important;
}

.lawyer-name-team {
  color: #003b9b;
}


@media screen and (min-width: 550px) {

  #lawyer-profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .lawyer-id {
    width: 30%;

  }

  .lawyer-info {
    width: 70%;

  }

}
