/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.publications-list, .articles-list {
    list-style: none;
    padding-left: 0;
}
.publication-list-item p, .article-list-item p{
    margin: 0 0 5px 0;
}

.publication-list-item .list-content, .article-list-item .list-content {
    min-width:80%;
    width:calc(100% - 70px);
    display: inline-block;
    float:right;
    height: 55px;
}
.publication-list-item .list-img, .article-list-item .list-img {
    max-width: 20%;

    width: 55px;
    display: inline-block;

}
.list-img img {
  max-height: 50px;
  max-width: 50px;
}

.publication-pagination-btn:hover, .article-pagination-btn:hover {
    text-decoration: none;
}
.publication-pagination-btn, .article-pagination-btn {
    cursor:pointer;
    text-decoration: none;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.hidden {
    display:none;
}

.books-viewer {
  display:block;
}
.books-viewer .book-item img{
  width:100%;
  height:60%;
}
.book-item-content {
  height:40%;
  width: 100%;
}
.books-viewer .book-item {
    width:32%;
    max-width: 155px;
    min-width: 155px;
    float:left;
    height: 280px;
    margin-right: 4%;
    margin-bottom: 50px;
}
.books-not-empty {
  min-height:280px;
  display:inline-block;
}

.article-list-item, .publication-list-item {
  width:100%;
  height:55px;
  border-bottom: 1px solid #f2f2f2;
  margin-bottom: 10px;
}
.list-content p {
  margin-bottom: 7px !important;
}
