/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


 #publicationmanager-wrapper {
   padding: 20px;
   margin: 50px;
   border: 2px solid #333;
   background-color: #fff;
 }

  #publicationmanager-wrapper h1 {
    margin-bottom: 25px;
  }
#publicationmanager tr {
  height: 40px;
}

#publicationmanager-table td {
  height: 20px;
}

.firstname, .lastname, .authorid {
  font-size: 18px;
}

.authorid {
  width: 50px;
}

.firstname, .lastname {
  width: 250px;
}
