/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


/* General Styling */


.cm-page {
    margin: 20px;
}



 #publicationmanager-wrapper {
   padding: 20px;
   margin: 50px;
   border: 2px solid #333;
   background-color: #fff;
 }

  #publicationmanager-wrapper h1 {
    margin-bottom: 25px;
  }
#publicationmanager tr {
  height: 40px;
}

#publicationmanager-table td {
  height: 20px;
}

.firstname, .lastname, .authorid {
  font-size: 18px;
}

.authorid {
  width: 50px;
}

.firstname, .lastname {
  width: 250px;
}


.box-wrapper {
    position: relative;
    width:calc(100% - 20px);
}
.big-box-list {
    width: 100%;
}

.big-box-item {
    display:inline-block;
    width:49.5%;
    background: #f9f9f9;
}
.big-box-content {
    padding: 15px;
}

.small-box-list {
    width: 100%;
}

.small-box-item {
    display: inline-block;
    width:33%;
    background: #f9f9f9;
}

.small-box-content {
    padding: 15px;
}
.box-wrapper h3 {
    margin-top:0;
}

.create-section {
    background: #f9f9f9;
    padding: 1.5em;
    margin: 1.2em;
    transition: all 0.8s ease-in-out;
}
.create-section h2 {
    margin:0;
    font-size:1.6em;
    display: inline-block;
}

.create-section h2:hover {
    cursor: pointer;
}

.form-wrapper {
    margin-top:15px;
}
.form-group {
    margin-bottom: 15px;
    font-size: 1.2em;
}
.form-group input, .form-group select {
    min-width: 500px;
}
.form-group input[type='radio'] {
    min-width: auto;
}
.form-group-label {
    display:block;
    margin-bottom: 5px;
}

/* Landing Page  */



/* Settings Page */

#settings-page {
    font-family: 'helvetica', Arial, sans-serif;
    margin: 20px;
}

#settings-page .settings-page-section {
    background-color: #fff;
    padding: 20px;
    margin-top: 40px;
}

#settings-page h1 {
    color: #000;
    font-size: 28px;
    position: relative;
    float: left;

    font-weight: 600;
}

#settings-page h1:after {
    content: "" !important;
    position: absolute !important;
    bottom: -10px !important;
    left: 0 !important;
    right: 0 !important;
    height: 4px !important;
    background-color: #000 !important;
    width: 50px;
}

#settings-page h2 {
    background: #000;
    color: #fff;
    display: inline-block;
    padding: 10px;
}

#settings-page p {
    font-size: 14px;
   

}

#settings-page .output-check, #settings-page .push-message {
    padding: 10px;
    border: 1px solid #000;
    margin: 10px 0;
}